.header {
  background: #adcd;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* header image */
#headImg {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

/* main container */
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* cards view */
.box {
  width: 24%;
  margin-top: 1%;
  padding-top: 5px;
  border: 2px solid #aaa;
  text-align: center;
}

/* cards image */
#boxImg {
  width: 95%;
}

/* paragraph */
.company {
  text-align: left;
  padding: 5px;
}

.foot {
  width: 100%;
  padding: .1em;
  margin-top: 1%;
  text-align: center;
  background-color: #58FA82;
}

/* media for moblie view */
@media (min-device-width:320px) and (max-device-width:480px) {
  * {
    font-size: 1em;
  }

  .main {
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
  }

  .boxImg {
    margin: 92%;
  }

  .foot {
    width: 100%;
  }
}

/* media for tab view */
@media (min-device-width:481px) and (max-device-width:780px) {
  .main {
    width: 100%;
    flex-wrap: wrap;
  }

  .box {
    width: 40%;
  }
}
